<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">

</head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<!-- p는 패딩, y는 탑하고 바텀 패딩을 5 em만큼 주겠다. 텍스트는 가운데정렬.-->
<div class="py-5 text-center" th:if="${error}"> <!--만약 에러가 있으면? -->
    <p class="lead">스터디올래 이메일 확인</p>
    <div class="alert alert-danger" role="alert">
        이메일 확인 링크가 정확하지 않습니다.
    </div>
</div>

       <!-- p는 패딩, y는 탑하고 바텀 패딩을 5 em만큼 주겠다. 텍스트는 가운데정렬. -->
<div class="py-5 text-center" th:if="${error == null}"> <!--만약 에러가 없으면? -->
    <p class="lead">스터디올래 이메일 확인</p>
    <h2>
        이메일을 확인했습니다. <span th:text="${numberOfUser}">10</span>번째 회원,
        <span th:text="${nickname}">김재근</span>님 가입을 축하합니다.
    </h2>
    <small class="text-info">이제부터 가입할 때 사용한 이메일 또는 닉네임과 패스워드로 로그인 할 수 있습니다.</small>
</div>

<div th:replace="fragments.html :: footer"></div>

</body>
</html>