<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>

<div class="container"> <!-- 프로필 이미지 컨테이너 div 시작. -->

    <div class="row mt-5 justify-content-center">  <!-- 프로필 이미지, 한줄 소개하는 첫번째 row 시작 -->

        <div class="col-2"> <!-- 부트스트랩 1 row에 12 column 그중 2개를 차지하겠다. -->
            <!-- strings.isEmpty 이거 뭐였지.. #strings. 이따가 찾아보자. 아무튼 프로필 이미지가 null이면? jdenticon. 닉네임으로.-->
            <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
            <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                 th:src="${account.profileImage}" width="125" height="125"/> <!-- 널이 아니면 이미지 사진을 보여주자. -->
        </div>

        <div class="col-8">
            <h1 class="display-4 " th:text="${account.nickname}">Whiteship</h1>   <!-- 한 줄 소개. 있으면 보여주고 없으면 한 줄 소개를 추가하세요. 기본 텍스트-->
            <p class="lead" th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
            <p class="lead" th:if="${#strings.isEmpty(account.bio) && isOwner}">
                한 줄 소개를 추가하세요.
            </p>
        </div>

    </div> <!-- 프로필 이미지, 한줄 소개하는 첫번째 row 끝 -->

    <div class="row mt-3 justify-content-center"><!-- 프로필 이미지, 그 외 정보 나타내는 두번째 row 시작 -->

        <div class="col-2">
            <!-- 이거는 부트스트랩 기능. Click toggle방식으로 클릭하면 해당 id와 일치하는 태그를 우측에 띄워주고 그런식으로 작동한다.
                 column은 2칸을 차지한다.-->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-intro-tab" data-toggle="pill" href="#v-pills-profile"
                   role="tab" aria-controls="v-pills-profile" aria-selected="true">소개</a>
                <a class="nav-link" id="v-pills-study-tab" data-toggle="pill" href="#v-pills-study"
                   role="tab" aria-controls="v-pills-study" aria-selected="false">스터디</a>
            </div>
        </div>

        <div class="col-8"> <!-- 컬럼 8칸을 차지함.  -->
            <div class="tab-content" id="v-pills-tabContent">
                <!-- 바로 위에서, <a> 소개 </a> 부분을 눌렀을 때 보여주는 div태그 시작 -->
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    <p th:if="${!#strings.isEmpty(account.url)}"> <!-- url이 null이 아니면. url 보여주기 -->
                            <span style="font-size: 20px;">
                                <i class="fa fa-link col-1"></i>
                            </span>
                        <span th:text="${account.url}" class="col-11"></span>
                    </p>

                    <p th:if="${!#strings.isEmpty(account.occupation)}"> <!-- 직업정보가 null이 아니면. 직업정보 보여주기 -->
                            <span style="font-size: 20px;">
                                <i class="fa fa-briefcase col-1"></i>
                            </span>
                        <span th:text="${account.occupation}" class="col-9"></span>
                    </p>

                    <p th:if="${!#strings.isEmpty(account.location)}"> <!-- 주소정보가 null이 아니면. 주소정보 보여주기 -->
                            <span style="font-size: 20px;">
                                <i class="fa fa-location-arrow col-1"></i>
                            </span>
                        <span th:text="${account.location}" class="col-9"></span>
                    </p>

                    <p th:if="${isOwner}"> <!-- 해당 프로필의 로그인 사용자면 email까지 보여주기 -->
                            <span style="font-size: 20px;">
                                <i class="fa fa-envelope-o col-1"></i>
                            </span>
                        <span th:text="${account.email}" class="col-9"></span>
                    </p>

                    <p th:if="${isOwner || account.emailVerified}"> <!-- 해당 프로필의 로그인 사용자이면서 이메일 인증이 된 회원이면 이 p태그를 보여준다.-->
                            <span style="font-size: 20px;">
                                <i class="fa fa-calendar-o col-1"></i>
                            </span>
                        <span th:if="${isOwner && !account.emailVerified}" class="col-9"> <!-- 여기 조건식 흐름이 약간 이상한데.. 나중에 봐보자.-->
                                <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                            </span>
                        <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}" class="col-9"></span>
                    </p>

                    <div th:if="${isOwner}"> <!-- 프로필 수정은 해당 프로필의 주인에게만 보여져야 한다. -->
                        <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                    </div>

                </div> <!-- 바로 위에서, <a> 소개 </a> 부분을 눌렀을 때 보여주는 div태그 끝 -->

                <div class="tab-pane fade" id="v-pills-study" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    Study
                </div>

            </div>

        </div>
    </div> <!-- 프로필 이미지, 그 외 정보 나타내는 두번째 row 시작 -->
</div> <!-- 프로필 이미지 컨테이너 div 끝. -->


</body>
</html>