<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<!-- 로그인 검증 경고창 추가-->
<!-- 경고창 경고창. account정보가 널이 아니면서 이메일검증이 되지 않았다면!-->
<!-- 이 div를 띄워주는거고. a링크로 check email. 인증 이메일 확인 링크.-->
<!-- th:if에 ? 있는거는 null일수도 있다는 뜻. -->
<div class="alert alert-warning" role="alert"
     th:if="${account != null && !account.emailVerified}"> <!-- account는 컨트롤러에서 보내주는거고. emailVerified는 엔티티 멤버변수 -->
    스터디올레 가입을 완료하려면 <a href="#" th:href="@{/check-email}"
                       class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>


<div class="container">
    <div class="py-5 text-center">
        <h2>스터디올래</h2>
    </div>

    <div th:replace="fragments.html :: footer"></div>



</div>

</body>
</html>